<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Financial Risk Prediction</title>
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="icon" href="https://img.icons8.com/doodle/48/000000/money.png" type="image/icon type">
    </head>
    <body class="bg-info">
        <div id="layout_header">
                <header class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        
                            <div class="text-center">
                                <h3 class="display-5">Financial Risk Prediction</h3>
                                <p class="lead">This is a simple Web Application that Predicts your Financial Risk Using a Machine Learning Model.</p>
                             </div>
                        </div>
                    
                </header>
            </div>
   

        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    {% block body %}
            
                     {% endblock%}      
                </main>
            </div>
            <div id="layout_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        
                            <div class="text-center">
                                <h5>A Machine Learning Web App, Built with Flask.</h5>        
                                    <p>Made by Mainak Das 
                                <a href="https://github.com/mainak17/" target="_blank"><i class="fab fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/mainak-das-111175179/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                © 2021 Copyright </p>
                                </div>
                            </div>
                            
                   
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
